<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>“No-Till” Farming Is a Growing Practice</string>
		<key>Author</key>
		<string>John Horowitz, Robert Ebel, and Kohei Ueda</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Baselines in Environmental Markets: Tradeoffs Between Cost and Additionality</string>
		<key>Author</key>
		<string>Elizabeth Marshall and Marca Weinberg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>The Use of Markets To Increase Private Investment in Environmental Stewardship</string>
		<key>Author</key>
		<string>Marc Ribaudo, LeRoy Hansen, Daniel Hellerstein, and Catherine Greene</string>
	</dict>
	<dict>
		<key>TItle</key>
		<string>The Role of Agriculture in Reducing Greenhouse Gas Emissions</string>
		<key>Author</key>
		<string>John Horowitz and Jessica Gottlieb</string>
	</dict>
</array>
</plist>
